<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/sobre">Sobre</a>
  <a href="/contato">Contato</a>
  <a href="/produtos">Produtos</a>
</nav>

<div class="container">
  <h1>Contato</h1>

  <form>
    <input placeholder="Nome">
    <input placeholder="Idade">
    <input placeholder="Email">
    <input placeholder="CPF">
    <input placeholder="Número de Telefone">
    <button>Enviar</button>
  </form>
</div>

</body>
</html>