<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/produtos">Voltar</a>
</nav>

<div class="container">
  <h1>Novo Produto</h1>

  <form method="POST">
    <input name="nome" placeholder="Nome">
    <input name="preco" placeholder="Preço">
    <button>Cadastrar</button>
  </form>
</div>

</body>
</html>