<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/sobre">Sobre</a>
  <a href="/contato">Contato</a>
  <a href="/produtos">Produtos</a>
</nav>

<div class="container">
  <h1>Sobre</h1>
  <p>Este projeto foi feito pelo Nicolas Cavallari da Silva, da turma 63-2 com intuito de praticar o padrão MVC com Node.js e Express. Utilizando a execução do site pelo servidor e sem a utlização de HTML, aqui você consegue gerenciar produtos de forma eficiente, adicionando produtos, editando-os e excluindo-os conforme necessário.</p>
</div>

</body>
</html>