PORT=3000
MONGODB_URI=mongodb://admin:SUA_SENHA@ac-t6rvmsb-shard-00-00.hnktztu.mongodb.net:27017,ac-t6rvmsb-shard-00-01.hnktztu.mongodb.net:27017,ac-t6rvmsb-shard-00-02.hnktztu.mongodb.net:27017/escola_mvc?ssl=true&replicaSet=atlas-b8mfc6-shard-0&authSource=admin&appName=mellotrikas
NODE_ENV=development
